/* Master styles*/
body { 
    background-color: #232222;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    display:flex;
    justify-content: center;
    align-items:center;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}
/* Nav styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display:flex;

}
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size:0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .left-side > .current{
    color:whitesmoke;
}


.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid gray;
}

.nav-link-wrapper a:hover{
    color:gray;
}

.right-side{
    color:#FFFFFF;
}

.h{
    width:95%;
    height: 5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: auto;
    background-color: white;

}

.photo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 40px;
}
